.servivesservis{
.imageS{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.pt-5{
    a{
        display: none;
    }
}
}