@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand ", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0px 32px;
  max-width: 1400px;
  width: 100%;
}

nav {
  padding: 20px 0px;
  width: 100%;
}
nav #click {
  display: none;
  font-size: 20px;
  color: black;
  font-weight: 800;
}
nav .nav-o {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-o .nleft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav .nav-o .nright ul {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
nav .nav-o .nright ul li span {
  color: gray;
}
nav .nav-o .nright ul li a {
  text-decoration: none;
  color: black;
}
nav .nav-o .nright ul .nomre {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  cursor: pointer;
  background: #f78263;
  border: 1px solid #f78263;
  font-weight: 700;
  border-radius: 50px;
  padding: 5px 15px;
  transition: all 1s ease;
}
nav .nav-o .nright ul .nomre:hover {
  background-color: #ffffff;
  color: #f78263;
}

.banner {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 0px;
}
.banner .carousel-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.banner .bannertext {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.banner .bannertext h2 {
  z-index: 5;
  font-size: 84px;
  font-weight: 400;
  color: rgb(74, 203, 188);
  font-family: Quicksand;
  font-style: italic;
}
.banner .bannertext h3 {
  z-index: 6;
  font-size: 84px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  font-family: Quicksand;
}
.banner .bannertext p {
  max-width: 407px;
  white-space: normal;
  font-size: 20px;
  font-weight: 700;
  color: rgb(108, 108, 108);
  letter-spacing: 0px;
  font-family: Quicksand;
  visibility: inherit;
}
.banner .bannertext .apbutton button {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  cursor: pointer;
  background: #f78263;
  border: 1px solid #f78263;
  font-weight: 700;
  border-radius: 50px;
  padding: 15px 15px;
  transition: all 1s ease;
}
.banner .bannertext .apbutton button i {
  margin-right: 7px;
}
.banner .bannertext .apbutton button:hover {
  background-color: #ffffff;
  color: #f78263;
}
.banner .bannertext2 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.banner .bannertext2 h2 {
  z-index: 5;
  font-size: 84px;
  font-weight: 400;
  font-family: Quicksand;
  font-style: oblique;
}
.banner .bannertext2 h3 {
  z-index: 6;
  font-size: 64px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  font-family: Quicksand;
}
.banner .bannertext2 p {
  max-width: 407px;
  white-space: normal;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: rgb(108, 108, 108);
  letter-spacing: 0px;
  font-family: Quicksand;
  visibility: inherit;
}
.banner .bannertext2 .apbutton button {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  cursor: pointer;
  background: #f78263;
  border: 1px solid #f78263;
  font-weight: 700;
  border-radius: 50px;
  padding: 15px 15px;
  transition: all 1s ease;
}
.banner .bannertext2 .apbutton button i {
  margin-right: 7px;
}
.banner .bannertext2 .apbutton button:hover {
  background-color: #ffffff;
  color: #f78263;
}
.banner .carousel-control-prev-icon {
  background-color: #f78263;
}
.banner .carousel-control-next-icon {
  background-color: #f78263;
}

.section1 {
  width: 100%;
  padding: 30px 0px;
}
.section1 .section1-o .s1top {
  padding: 30px;
}
.section1 .section1-o .s1top h1 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
}
.section1 .section1-o .s1top span {
  color: #f78263;
}
.section1 .section1-o .s1bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.section1 .section1-o .s1bottom .s1bot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}
.section1 .section1-o .s1bottom .s1bot .s1text h3 {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 15px;
}
.section1 .section1-o .s1bottom .s1bot .s1text p {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  max-width: 250px;
  color: #6c6c6c;
}

.section2 {
  width: 100%;
  padding: 30px 0px;
  background-color: #ebf8e6;
}
.section2 .section2-o {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section2 .section2-o .s2top {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
}
.section2 .section2-o .s2top h2 {
  font-size: 30px;
  font-weight: 600;
}
.section2 .section2-o .s2top span {
  color: #f78263;
  margin-right: 10px;
}
.section2 .section2-o .s2bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
}
.section2 .section2-o .s2bottom .s21bot {
  padding-top: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.section2 .section2-o .s2bottom .s21bot h4 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #222222;
}
.section2 .section2-o .s2bottom .s21bot h5 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #6c6c6c;
}
.section2 .section2-o .s2bottom .s24bot {
  padding-top: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.section2 .section2-o .s2bottom .s24bot h4 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #222222;
}
.section2 .section2-o .s2bottom .s24bot h5 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #6c6c6c;
}
.section2 .section2-o .s2bottom .s22bot, .section2 .section2-o .s2bottom .s23bot {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.section2 .section2-o .s2bottom .s22bot h4, .section2 .section2-o .s2bottom .s23bot h4 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #222222;
}
.section2 .section2-o .s2bottom .s22bot h5, .section2 .section2-o .s2bottom .s23bot h5 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #6c6c6c;
}

#h6 {
  color: #6c6c6c !important;
}

.text-uppercase {
  color: #ebf8e6;
}

.nav-pills .nav-link.active {
  background-color: #ebf8e6 !important;
  color: #222222 !important;
}

.nav-link {
  color: #222222 !important;
}

@media screen and (max-width: 1000px) {
  nav .nav-o .nright .nomre {
    display: none;
  }
  .section1 .section1-o .s1bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .banner .bannertext {
    width: 400px;
    gap: 0;
  }
  .banner .bannertext h2 {
    font-size: 50px;
  }
  .banner .bannertext h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  nav #click {
    display: block;
  }
  nav .nav-o .nright {
    display: none;
  }
  nav .nav-o ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: blanchedalmond;
    z-index: 999;
  }
  nav .nav-o ul li {
    padding: 15px;
    text-align: center;
  }
  .section2 .section2-o .s2bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section2 .section2-o .s2bottom .s21bot, .section2 .section2-o .s2bottom .s24bot {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 690px) {
  .banner .carousel-control-next-icon {
    background-color: transparent;
  }
  .banner .carousel-control-prev-icon {
    background-color: transparent;
  }
  .banner .bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 0;
  }
  .banner .bannertext h2 {
    font-size: 50px;
  }
  .banner .bannertext h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 550px) {
  .banner .bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 0;
  }
  .banner .bannertext h2 {
    font-size: 30px;
  }
  .banner .bannertext h3 {
    font-size: 20px;
  }
  .banner .bannertext p {
    font-size: 16px;
  }
  .banner .bannertext .apbutton {
    font-size: 16px;
    font-size: 16px;
  }
  .banner .bannertext .apbutton button {
    font-size: 16px;
  }
  .section1 .section1-o .s1bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .banner .carousel-item img {
    min-height: 70vh;
  }
  .banner .bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 0;
  }
  .banner .bannertext h2 {
    font-size: 30px;
  }
  .banner .bannertext h3 {
    font-size: 20px;
  }
  .banner .bannertext p {
    font-size: 16px;
  }
  .banner .bannertext .apbutton {
    font-size: 16px;
    font-size: 16px;
  }
  .banner .bannertext .apbutton button {
    font-size: 16px;
  }
}
.event {
  padding: 80px 0;
}
.event .section-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.event .section-subtitle img {
  max-width: 100%;
}
.event .section-subtitle span {
  font-size: 20px;
  font-weight: 700;
  color: #4acbbc;
}
.event .section-title {
  text-align: center;
  margin-bottom: 50px;
}
.event .section-title strong {
  color: #4acbbc;
}
.event .event-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event .event-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.event .event-card:hover {
  transform: translateY(-10px);
}
.event .card-time {
  background-color: #ebf8e6;
  color: #fff;
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: row; /* Tarih ve Ay'ı yan yana sırala */
  align-items: center;
  justify-content: center;
}
.event .card-time .month {
  font-size: 18px;
  margin-right: 5px; /* Ay ve tarih arasındaki boşluğu ayarla */
}
.event .card-time .date {
  font-size: 24px;
  font-weight: 700;
}
.event .wrapper {
  padding: 20px;
}
.event .card-content {
  margin-bottom: 20px;
}
.event .card-subtitle {
  color: #ebf8e6;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.event .card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.event .card-text {
  color: #666;
}
.event .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #ebf8e6;
  color: #ebf8e6;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.event .btn:hover {
  background-color: #ebf8e6;
  color: #fff;
}
.event .btn-secondary {
  margin-top: 30px;
  background-color: #ebf8e6;
  color: #fff;
}
.event .btn-secondary ion-icon {
  margin-left: 5px;
}

/* Ekran genişliği 768px'den küçük olduğunda */
@media screen and (max-width: 768px) {
  .event-card {
    text-align: center;
    flex-direction: column; /* 
Kart içeriğini ortala */
    gap: 0px;
    padding: 0px;
  }
  .card-time {
    flex-direction: column; /* Tarih ve Ay'ı dikey düzende sırala */
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}
/* Import Google font - Poppins */
/* Import Google font - Poppins */
.tum {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.wrappercarusel {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrappercarusel i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrappercarusel i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrappercarusel i:first-child {
  left: -22px;
}

.wrappercarusel i:last-child {
  right: -22px;
}

.wrappercarusel .caruselslide {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.caruselslide::-webkit-scrollbar {
  display: none;
}

.caruselslide.no-transition {
  scroll-behavior: auto;
}

.caruselslide.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.caruselslide.dragging .card {
  cursor: grab;
  user-select: none;
}

.caruselslide :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caruselslide .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.caruselslide .card .hekimebaxbuttonu {
  border: none;
  background-color: #ebf8e6;
  padding: 5px 10px;
  border-radius: 50px;
}

.caruselslide .card .img {
  background-color: #ebf8e6;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.caruselslide .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.caruselslide .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrappercarusel .caruselslide {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrappercarusel .caruselslide {
    grid-auto-columns: 100%;
  }
}/*# sourceMappingURL=style.css.map */