@charset "UTF-8";
.aboutsection1 {
  width: 100%;
  padding: 50px 0px;
}
.aboutsection1 .aboutsection1-o {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.aboutsection1 .aboutsection1-o .ab-left {
  text-align: start;
  width: 40%;
}
.aboutsection1 .aboutsection1-o .ab-right .ab-rigimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutsection2 .list-inline li h5 i {
  color: green;
}

@media screen and (max-width: 1000px) {
  .aboutsection1 .aboutsection1-o {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutsection1 .aboutsection1-o .ab-left {
    width: 100%;
  }
  .aboutsection1 .aboutsection1-o .ab-left .abtext {
    width: 100%;
  }
  .aboutsection1 .aboutsection1-o .ab-right {
    width: 100%;
  }
  .aboutsection1 .aboutsection1-o .ab-right .ab-rigimage {
    width: 100%;
  }
}
.aboutaccordion {
  background-color: antiquewhite;
  background-repeat: no-repeat;
}

.servivesservis .imageS {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}
.servivesservis .imageS img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servivesservis .pt-5 a {
  display: none;
}

.shophissesi {
  display: flex;
  justify-content: center;
}

.searchandsort {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 10px;
}
.searchandsort #search {
  margin-left: 7%;
  padding: 5px 22px;
}
.searchandsort #sort {
  padding: 5px 7px;
  margin-right: 20%;
}
@media (max-width: 768px) {
  .searchandsort {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .searchandsort {
    width: 70%;
    flex-direction: column;
    align-items: stretch;
  }
  .searchandsort #search {
    margin-bottom: 10px;
    width: 100%;
  }
  .searchandsort #sort {
    width: 100%;
  }
}

.cards {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  margin: 0 auto;
}
.cards .card {
  width: calc(24% - 20px);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.cards .card .img {
  position: relative;
  overflow: hidden;
}
.cards .card .img img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.cards .card .add-to-cart,
.cards .card .add-to-favorites {
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.cards .card .add-to-cart {
  bottom: 20px;
  right: 20px;
}
.cards .card .add-to-favorites {
  top: 20px;
  right: 20px;
}
.cards .card:hover .add-to-cart,
.cards .card:hover .add-to-favorites {
  transform: scale(1.2);
}
.cards .cardtext {
  text-align: center;
}
.cards .cardtext h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.cards .cardtext p {
  font-size: 1rem;
  color: #888;
}

.leftcategories {
  width: 20%;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.ltop {
  margin-bottom: 20px;
}

.ltop h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ltop h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.limg {
  margin-bottom: 20px;
}

.limg img {
  width: 100%;
  height: auto;
}

.lbot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.lbot h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.popproduct {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pimg {
  width: 200px;
}
.pimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ptxt {
  width: 70%;
}

.ptxt h6 {
  font-size: 15px;
  color: #888;
  margin-bottom: 10px;
}

.card .hoverolayi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(59, 29, 29, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .hoverolayi {
  opacity: 1;
}

.card .hoverolayi .add-to-cart,
.card .hoverolayi .add-to-favorites {
  padding: 10px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: all;
}

.card .hoverolayi .add-to-favorites {
  background-color: #dc3545;
}

.card .hoverolayi .add-to-cart:hover,
.card .hoverolayi .add-to-favorites:hover {
  transform: scale(1.1);
}

.basketdivi {
  padding-right: 30px;
}

@media (max-width: 992px) {
  .leftcategories {
    display: none;
  }
  .cards {
    width: 90%;
    padding: 20px;
  }
  .cards .card {
    width: calc(30% - 20px);
  }
}
@media (max-width: 768px) {
  .searchandsort {
    flex-direction: column;
    align-items: stretch;
  }
  .searchandsort #search {
    margin-bottom: 10px;
    width: 100%;
    margin-left: 0;
  }
  .searchandsort #sort {
    width: 100%;
    margin-right: 0;
  }
  .cards {
    width: 90%;
    padding: 20px;
  }
  .cards .card {
    width: calc(70% - 20px);
  }
  .basketdivi {
    display: none;
  }
}
@media (max-width: 576px) {
  .searchandsort {
    width: 100%;
  }
  .cards {
    width: 100%;
    padding: 20px;
  }
  .card {
    width: calc(100% - 20px);
  }
}
@media (max-width: 320px) {
  .cards {
    padding: 10px 0px;
  }
  .card {
    width: calc(100% - 5px);
    margin-bottom: 10px;
  }
}
.blogcontent .p-merkez {
  margin: auto;
  max-width: 750px;
  text-align: center;
}
.blogcontent .merkez {
  text-align: center;
}
.blogcontent .merkez p {
  max-width: 500px;
}
.blogcontent .blog .blog-item {
  border: 1px solid #ddd;
}
.blogcontent .blog .blog-item .blog-img {
  padding-top: 20px;
  width: calc(33.3333% - 20px);
  margin: auto;
}
.blogcontent .blog .blog-item .blog-img img {
  border-radius: 5px;
}
.blogcontent .blog .blog-item .blog-content .h4 {
  font-size: 18px;
}
.blogcontent .blog .blog-item .blog-content .btn {
  font-size: 14px;
}
.blogcontent .blog .blog-item .blog-content a {
  text-decoration: none;
}
@media (max-width: 767px) {
  .blogcontent .blog-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.contactcontent {
  width: 100%;
  background-position: center;
  background-color: aqua;
  background-image: url("../images/doggy-2000x1199.jpg");
  background-repeat: no-repeat;
}
.logout {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand ", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0px 32px;
  max-width: 1400px;
  width: 100%;
}

::selection {
  background-color: #f1714d;
  color: white;
}

nav {
  padding: 20px 0px;
  width: 100%;
}
nav #click {
  display: none;
  font-size: 20px;
  color: black;
  font-weight: 800;
}
nav .nav-o {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-o .nleft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav .nav-o .nright ul {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
nav .nav-o .nright ul li a {
  text-decoration: none;
  color: black;
}
nav .nav-o .nright ul .nomre {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  cursor: pointer;
  background: #f78263;
  border: 1px solid #f78263;
  font-weight: 700;
  border-radius: 50px;
  padding: 5px 15px;
  transition: all 1s ease;
}
nav .nav-o .nright ul .nomre:hover {
  background-color: #ffffff;
  color: #f78263;
}

.banner {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.banner .carousel-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.banner .bannertext {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.banner .bannertext h2 {
  z-index: 5;
  font-size: 84px;
  font-weight: 400;
  color: rgb(74, 203, 188);
  font-family: Quicksand;
  font-style: italic;
}
.banner .bannertext h3 {
  z-index: 6;
  font-size: 84px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  font-family: Quicksand;
}
.banner .bannertext p {
  max-width: 407px;
  white-space: normal;
  font-size: 20px;
  font-weight: 700;
  color: rgb(108, 108, 108);
  letter-spacing: 0px;
  font-family: Quicksand;
  visibility: inherit;
}
.banner .bannertext .apbutton button {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  cursor: pointer;
  background: #f78263;
  border: 1px solid #f78263;
  font-weight: 700;
  border-radius: 50px;
  padding: 15px 15px;
  transition: all 1s ease;
}
.banner .bannertext .apbutton button i {
  margin-right: 7px;
}
.banner .bannertext .apbutton button:hover {
  background-color: #ffffff;
  color: #f78263;
}
.banner .bannertext2 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.banner .bannertext2 h2 {
  z-index: 5;
  font-size: 84px;
  font-weight: 400;
  font-family: Quicksand;
  font-style: oblique;
}
.banner .bannertext2 h3 {
  z-index: 6;
  font-size: 64px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  font-family: Quicksand;
}
.banner .bannertext2 p {
  max-width: 407px;
  white-space: normal;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: rgb(108, 108, 108);
  letter-spacing: 0px;
  font-family: Quicksand;
  visibility: inherit;
}
.banner .bannertext2 .apbutton button {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  cursor: pointer;
  background: #f78263;
  border: 1px solid #f78263;
  font-weight: 700;
  border-radius: 50px;
  padding: 15px 15px;
  transition: all 1s ease;
}
.banner .bannertext2 .apbutton button i {
  margin-right: 7px;
}
.banner .bannertext2 .apbutton button:hover {
  background-color: #ffffff;
  color: #f78263;
}
.banner .carousel-control-prev-icon {
  background-color: #f78263;
}
.banner .carousel-control-next-icon {
  background-color: #f78263;
}

.section1 {
  width: 100%;
  padding: 30px 0px;
}
.section1 .section1-o .s1top {
  padding: 30px;
}
.section1 .section1-o .s1top h1 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
}
.section1 .section1-o .s1top span {
  color: #f78263;
}
.section1 .section1-o .s1bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.section1 .section1-o .s1bottom .s1bot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}
.section1 .section1-o .s1bottom .s1bot .s1text h3 {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 15px;
}
.section1 .section1-o .s1bottom .s1bot .s1text p {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  max-width: 250px;
  color: #6c6c6c;
}

.section2 {
  width: 100%;
  padding: 30px 0px;
  background-color: #abb6a8;
}
.section2 .section2-o {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section2 .section2-o .s2top {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
}
.section2 .section2-o .s2top h2 {
  font-size: 30px;
  font-weight: 600;
}
.section2 .section2-o .s2top span {
  color: #f78263;
  margin-right: 10px;
}
.section2 .section2-o .s2bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
}
.section2 .section2-o .s2bottom .s21bot {
  padding-top: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.section2 .section2-o .s2bottom .s21bot h4 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #222222;
}
.section2 .section2-o .s2bottom .s21bot h5 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #6c6c6c;
}
.section2 .section2-o .s2bottom .s24bot {
  padding-top: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.section2 .section2-o .s2bottom .s24bot h4 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #222222;
}
.section2 .section2-o .s2bottom .s24bot h5 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #6c6c6c;
}
.section2 .section2-o .s2bottom .s22bot, .section2 .section2-o .s2bottom .s23bot {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.section2 .section2-o .s2bottom .s22bot h4, .section2 .section2-o .s2bottom .s23bot h4 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #222222;
}
.section2 .section2-o .s2bottom .s22bot h5, .section2 .section2-o .s2bottom .s23bot h5 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: inherit;
  text-transform: none;
  color: #6c6c6c;
}

#h6 {
  color: #6c6c6c !important;
}

.text-uppercase {
  color: #abb6a8;
}

.nav-pills .nav-link.active {
  background-color: #abb6a8 !important;
  color: #222222 !important;
}

.nav-link {
  color: #222222 !important;
}

@media screen and (max-width: 1000px) {
  nav .nav-o .nright .nomre {
    display: none;
  }
  .section1 .section1-o .s1bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .banner .bannertext {
    width: 400px;
    gap: 0;
  }
  .banner .bannertext h2 {
    font-size: 50px;
  }
  .banner .bannertext h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  nav #click {
    display: block;
  }
  nav .nav-o .nright {
    display: none;
  }
  nav .nav-o ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: blanchedalmond;
    z-index: 999;
  }
  nav .nav-o ul li {
    padding: 15px;
    text-align: center;
  }
  .section2 .section2-o .s2bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section2 .section2-o .s2bottom .s21bot, .section2 .section2-o .s2bottom .s24bot {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 690px) {
  .banner .carousel-control-next-icon {
    background-color: transparent;
  }
  .banner .carousel-control-prev-icon {
    background-color: transparent;
  }
  .banner .bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 0;
  }
  .banner .bannertext h2 {
    font-size: 50px;
  }
  .banner .bannertext h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 550px) {
  .banner .bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 0;
  }
  .banner .bannertext h2 {
    font-size: 30px;
  }
  .banner .bannertext h3 {
    font-size: 20px;
  }
  .banner .bannertext p {
    font-size: 16px;
  }
  .banner .bannertext .apbutton {
    font-size: 16px;
    font-size: 16px;
  }
  .banner .bannertext .apbutton button {
    font-size: 16px;
  }
  .section1 .section1-o .s1bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .banner .carousel-item img {
    min-height: 70vh;
  }
  .banner .bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 0;
  }
  .banner .bannertext h2 {
    font-size: 30px;
  }
  .banner .bannertext h3 {
    font-size: 20px;
  }
  .banner .bannertext p {
    font-size: 16px;
  }
  .banner .bannertext .apbutton {
    font-size: 16px;
    font-size: 16px;
  }
  .banner .bannertext .apbutton button {
    font-size: 16px;
  }
}
.event {
  padding: 80px 0;
}
.event .section-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.event .section-subtitle img {
  max-width: 100%;
}
.event .section-subtitle span {
  font-size: 20px;
  font-weight: 700;
  color: #4acbbc;
}
.event .section-title {
  text-align: center;
  margin-bottom: 50px;
}
.event .section-title strong {
  color: #4acbbc;
}
.event .event-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event .event-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.event .event-card:hover {
  transform: translateY(-10px);
}
.event .card-time {
  background-color: #ebf8e6;
  color: #fff;
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: row; /* Tarih ve Ay'ı yan yana sırala */
  align-items: center;
  justify-content: center;
}
.event .card-time .month {
  font-size: 18px;
  margin-right: 5px; /* Ay ve tarih arasındaki boşluğu ayarla */
}
.event .card-time .date {
  font-size: 24px;
  font-weight: 700;
}
.event .wrapper {
  padding: 20px;
}
.event .card-content {
  margin-bottom: 20px;
}
.event .card-subtitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.event .card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.event .card-text {
  color: #666;
}
.event .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #abb6a8;
  color: #abb6a8;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.event .btn:hover {
  background-color: #abb6a8;
  color: #fff;
}
.event .btn-secondary {
  margin-top: 30px;
  background-color: #abb6a8;
  color: #fff;
}
.event .btn-secondary ion-icon {
  margin-left: 5px;
}

/* Ekran genişliği 768px'den küçük olduğunda */
@media screen and (max-width: 768px) {
  .event-card {
    text-align: center;
    flex-direction: column; /* 
Kart içeriğini ortala */
    gap: 0px;
    padding: 0px;
  }
  .card-time {
    flex-direction: column; /* Tarih ve Ay'ı dikey düzende sırala */
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}
/* Import Google font - Poppins */
/* Import Google font - Poppins */
.tum {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.wrappercarusel {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrappercarusel i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrappercarusel i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrappercarusel i:first-child {
  left: -22px;
}

.wrappercarusel i:last-child {
  right: -22px;
}

.wrappercarusel .caruselslide {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.caruselslide::-webkit-scrollbar {
  display: none;
}

.caruselslide.no-transition {
  scroll-behavior: auto;
}

.caruselslide.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.caruselslide.dragging .card {
  cursor: grab;
  user-select: none;
}

.caruselslide :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caruselslide .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.caruselslide .card .hekimebaxbuttonu {
  border: none;
  background-color: #abb6a8;
  padding: 5px 10px;
  border-radius: 50px;
}
.caruselslide .card .hekimebaxbuttonu a {
  text-decoration: none;
  color: #f1714d;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
}

.caruselslide .card .img {
  background-color: #abb6a8;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.caruselslide .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.caruselslide .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrappercarusel .caruselslide {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrappercarusel .caruselslide {
    grid-auto-columns: 100%;
  }
}
.nav2 {
  position: fixed;
  transition: all 0.5s ease;
  left: -300px;
  width: 300px;
  background-color: white;
  z-index: 12345;
  list-style: none;
  padding: 20px;
}
.nav2 a {
  text-decoration: none;
  color: #f1714d;
}
.nav2 .bi-telephone-fill {
  color: #4acbbc;
}

.section3 {
  background-color: #ebf8e6;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
}
.section3 .section31 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.section3 .section31 .comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section3 .section31 .comment .com {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section3 .section31 .comment .com span {
  color: #666;
  max-width: 400px;
  text-align: center;
}
.section3 .section31 .comment .com .you {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section3 .section31 .comment .com .you h1 {
  font-size: 25px;
}
.section3 .section31 .comment .com .you p {
  font-size: 15px;
  color: #f78263;
}
.section3 .section31 .comment .com .image {
  width: 30%;
  min-width: 100px;
  min-height: 100px;
}
.section3 .section31 .comment .com .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3 .section31 .video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section3 .section31 .video iframe {
  width: 100%;
  height: 200px;
}
.section3 .section31 .video .tx h1 {
  font-size: 20px;
  color: #f1714d;
}
.section3 .section31:hover .video {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.section3 .section31 [data-aos] {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.section3 .section31:hover [data-aos] {
  opacity: 1;
  transform: translateY(0);
}
.section3 .section31 [data-aos=fade-up] {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.section3 .section31 [data-aos=fade-left] {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1s ease, transform 1s ease;
}
.section3 .section31 [data-aos=fade-right] {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 1s ease, transform 1s ease;
}

@media (max-width: 767px) {
  .video iframe {
    height: 150px;
  }
}
@media (max-width: 768px) and (max-width: 991px) {
  .comment {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  .comment .image {
    width: 100%;
    max-width: 150px;
    min-height: 100px;
  }
  .comment .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video iframe {
    height: 175px;
  }
}
.user-wrapper {
  background-color: #444444;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.user-wrapper .user-table {
  width: calc(100% - 250px);
  border-radius: 10px;
}
.user-wrapper .user-table h1 {
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
}
.user-wrapper .user-table .table-body {
  width: 100%;
  height: calc(100vh - 156px);
  overflow: auto;
  border-radius: 5px;
  padding: 5px;
}
.user-wrapper .user-table .table-body::-webkit-scrollbar {
  height: 5px;
}
.user-wrapper .user-table table {
  width: 99%;
  margin: 10px auto;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
.user-wrapper .user-table table tr th {
  background: rgb(104, 104, 104);
  text-align: left;
  padding: 10px;
}
.user-wrapper .user-table table tr td {
  padding: 10px 20px;
}
.user-wrapper .user-table table tr td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 999px;
}
.user-wrapper .user-table table tr td button {
  font-size: 20px;
  transition: all 0.5s ease;
  border-radius: 5px;
  padding: 10px 15px;
}
.user-wrapper .user-table table tr td button:last-child {
  background: red;
}
.user-wrapper .user-table table tr td button:last-child:hover {
  color: red;
}
.user-wrapper .user-table table tbody tr:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .user-wrapper .user-table {
    width: 100%;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}

aside {
  background-color: rgb(158, 185, 176);
  width: 250px;
  height: calc(100vh - 66px);
  transition: all 0.5s ease;
  position: fixed;
  overflow: hidden;
}
aside::-webkit-scrollbar-thumb {
  background: transparent;
}
aside:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
aside .menu {
  padding: 10px;
}
aside .menu li {
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.5s ease;
}
aside .menu li:hover {
  background: rgba(255, 255, 255, 0.1);
}
aside .menu li:not(:last-child) {
  margin-bottom: 5px;
}
aside .menu li.active {
  background: rgba(255, 255, 255, 0.2);
}
aside .menu li.active span {
  font-weight: 500;
}
aside .menu li a {
  text-decoration: none;
  font-weight: bold;
}
aside .menu li a,
aside .menu li button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  gap: 8px;
}
aside .menu li a span,
aside .menu li button span {
  font-size: 17px;
}
aside .menu li a i,
aside .menu li button i {
  font-size: 20px;
}

.dasboard {
  min-height: 85.3vh;
}
.dasboard .img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.addhissesi {
  padding-top: 22px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 30px;
}
.addhissesi button {
  padding: 5px 10px;
  background-color: #343434;
  color: white;
}

.d-flex a {
  text-decoration: none;
}

.text-body {
  text-decoration: none;
}

.text-white {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */